[Unit]
Requires=kube-server.service docker.service
After=kube-server.service docker.service

[Service]
Restart=always
RestartSec=30
EnvironmentFile=/run/kube_node_ip.env

ExecStartPre=/bin/mkdir -p /etc/cni/net.d /opt/cni/bin /etc/kubernetes/manifests
ExecStartPre=/bin/mkdir -p /var/lib/kubelet/certs
ExecStartPre=/bin/mount --bind /var/lib/kubelet /var/lib/kubelet
ExecStartPre=/bin/mount --make-shared /var/lib/kubelet
ExecStartPre=/usr/bin/docker pull gcr.io/google-containers/hyperkube:v1.9.3
ExecStartPre=-/usr/bin/docker rm kubelet
ExecStart=/usr/bin/docker run --rm \
  --name=kubelet \
  --net=host \
  --pid=host \
  --privileged=true \
  --volume=/dev:/dev:rw \
  --volume=/sys:/sys:ro \
  --volume=/run:/run:rw \
  --volume=/lib/modules:/lib/modules:rw \
  --volume=/opt/cni/bin:/opt/cni/bin:ro \
  --volume=/etc/cni/net.d:/etc/cni/net.d:ro \
  --volume=/var/lib/kubelet:/var/lib/kubelet:shared \
  --volume=/etc/kubernetes:/etc/kubernetes:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/var/lib/docker:/var/lib/docker:rw \
  --volume=/var/log:/var/log:shared \
  gcr.io/google-containers/hyperkube:v1.9.3 \
    kubelet \
      --allow-privileged=true \
      --bootstrap-kubeconfig=/etc/kubernetes/kubelet-bootstrap-kubeconfig \
      --cert-dir=/var/lib/kubelet/certs \
      --cluster-dns=${cluster_dns_ip} \
      --cluster-domain=${cluster_domain} \
      --cni-bin-dir=/opt/cni/bin \
      --cni-conf-dir=/etc/cni/net.d \
      --feature-gates=RotateKubeletClientCertificate=true,RotateKubeletServerCertificate=true \
      --kubeconfig=/var/lib/kubelet/kubeconfig \
      --network-plugin=cni \
      --node-ip=$${KUBE_NODE_IP} \
      --pod-manifest-path=/etc/kubernetes/manifests \
      --register-node=true \
      --v=2
ExecStop=/usr/bin/docker stop kubelet

[Install]
WantedBy=multi-user.target
