[Unit]
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
ExecStartPre=/bin/touch /var/log/etcd.log
ExecStartPre=/usr/bin/docker pull gcr.io/google_containers/etcd:3.2.14
ExecStartPre=-/usr/bin/docker rm etcd
ExecStart=/usr/bin/docker run --rm \
  --name=etcd \
  --net=host \
  -e "TARGET_STORAGE=etcd3" \
  -e "TARGET_VERSION=3.2.14" \
  -e "DATA_DIRECTORY=/var/etc/data" \
  -v /mnt/master-pd/var/etcd:/var/etcd:rw \
  -v /var/log:/var/log:rw \
  -v /opt/etcd/etc:/opt/etcd/etc:rw \
  -p 2379:2379 \
  -p 2380:2380 \
  gcr.io/google_containers/etcd:3.2.14 \
    /bin/sh -c \
      'if [ -e /usr/local/bin/migrate-if-needed.sh ]; then /usr/local/bin/migrate-if-needed.sh 1>>/var/log/etcd.log 2>&1; fi; exec /usr/local/bin/etcd --name ${node_name} --listen-peer-urls http://${node_ip}:2380 --initial-advertise-peer-urls http://${node_ip}:2380 --advertise-client-urls http://${node_ip}:2379 --listen-client-urls http://${node_ip}:2379,http://127.0.0.1:2379 --initial-cluster-token etcd-cluster-1 --data-dir /var/etcd/data --initial-cluster ${cluster_members} --initial-cluster-state new 1>>/var/log/etcd.log 2>&1'
ExecStop=/usr/bin/docker stop etcd

[Install]
WantedBy=multi-user.target
